body{
    margin: 0%;
    padding: 0%;
}
/* header section */
.header-section{
    text-align: right;
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;
    padding: 150px 70px;
}
.header-section button{
    margin:10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: blueviolet;
    border: 0;
}
/* display flex items */
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Section-heading{
    text-align: center;
}

/* positive section */
#positive-section{
    border-radius: 10px;
    width: 90%;
    padding: 70px 40px;
    margin: 40px;
    color: black;
    justify-content: center;
    background-image: url('images/gradient1.png');
    background: linear-gradient(to right, red, gray);

    

}
#positive-section button{
    padding: 10px 20px;
    border-radius: 30px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    
}

/* footer */
footer{
    color: white;
    background-color: black;
    width: 100%;
    padding: 20px 40px;
}
